@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');

body {
  font-family: 'Prompt', sans-serif;
  color: #454545;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}